**/NPZ
**/GLB
**/FBX
**/Data
**/Mocap
**/Assets/**.pt
**/Assets/**.npz
**/Training/**.pt
**/Checkpoints/**.pt
**/__pycache__/
__pycache__/
*.egg-info/
*.vscode/
build/
dist/
.manifold_cache
config.bat
node_modules
